*{
    margin: 0;
    padding: 0;
    color: black;
    font-family: inter;
    text-decoration: none;
}

body{
    background-color: #ffffff7a;
}

/**/
.sidebar{
    width: 64px;
    height: 100vh;
    
    position: absolute;
    padding: 0px;
    background: #ffffff;
    border-radius: 0px 12px 12px 0;
    box-shadow: #000000;
    box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.25);

    font-size: 0px;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    transition: width 0.3s;
    transition: font-size 0.3s;
}

.sidebar div{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    transition: background-color 0.3s;
}

.format:hover{
    background-color: rgba(173, 173, 173, 0.15);
    padding: 4px 0px;
}

.icons{
    font-size: 24px;
    margin: 16px;
    transition: font-size 0.3s;
}

.icons:hover{
    font-size: 32px;

}

.menu{
    margin-top: auto;
}

/**/

/* ACCESSIBILITY */
  .accessibility {
    font-size: 10px;

    position: absolute;
    transform: translate(0%, 20%) translateX(100%) translateY(100%);

    background-color: rgba(0, 0, 0, 0.7);
    color: white;

    padding: 4px 8px;
    border-radius: 4px;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
  }

  .format:hover .accessibility {
    opacity: 1;
    visibility: visible;
  }
/**/

/**/
.container{
    display: flex;
    justify-content: center;
}

.creditos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    padding: 50px;
    font-size: 80px;
}

.creditos p{
    font-size: 14px;
}

.creditos p a{
    text-decoration: underline;
}

.midias{
    display: flex;
    justify-content: space-around;
    width: 120px;

    margin: 10px;

    font-size: 28px;
    transition: font-size 0.3s;
}

.midias a{
    margin: 10px;
}


.midias a:hover{
    font-size: 32px;
}
/**/

/* Media query para telas menores que 900px */
@media (max-width: 900px) {
    body {
        font-size: 14px;
    }
}
/**/
