*{
    margin: 0;
    padding: 0;
    color: black;
    font-family: inter;
    text-decoration: none;
}

body{
    background-color: #ffffff7a;
}

.sidebar{
    width: 56px;
    height: 100vh;
    
    position: absolute;
    padding: 0px;
    background: #ffffff;
    border-radius: 0px 12px 12px 0;
    box-shadow: #000000;
    box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 0px;

    transition: width 0.3s;
    transition: font-size 0.3s;
}

.sidebar:hover{
    width: 72px;
    font-size: 10px;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons{
    font-size: 24px;
    margin: 16px;
    transition: font-size 0.3s;
}

.icons:hover{
    font-size: 36px;

}

.container{
    display: flex;
    justify-content: center;
}

.creditos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    padding: 50px;
    font-size: 80px;
}

.creditos p{
    font-size: 14px;
}

.creditos p a{
    text-decoration: underline;
}

.midias{
    display: flex;
    justify-content: space-around;
    width: 120px;

    margin: 10px;

    font-size: 28px;
    transition: font-size 0.3s;
}

.midias a{
    margin: 10px;
}


.midias a:hover{
    font-size: 32px;
}